body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signin button {
    background-color: #0af;
    outline:none;
    border-radius: 14px
}

:root {
    --amplify-primary-color: #0091ff;
    --amplify-primary-tint: #0073c9;
    --amplify-primary-shade: #0073c9;
    
}